# 1. Sourcing and loading
## 1a. Import Packages

In [9]:
import pandas as pd
import numpy as np
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from io import StringIO
from IPython.display import Image
import pydotplus

## 1b. Load data (tennis.txt)

In [10]:
# Read in the tennis.txt data to a variable called tennis
tennis = pd.read_csv("https://raw.githubusercontent.com/Ben-Liao/MBA6693-Business-Data-Analysis/main/i01-information-based-learning/data/tennis.txt", sep='\t', header = (0))

# Read in the titanic2.txt data to another variable called titanic, as alternative
#titanic = pd.read_csv("https://raw.githubusercontent.com/Ben-Liao/MBA6693-Business-Data-Analysis/main/i01-information-based-learning/data/titanic2.txt", sep='\t', header = (0))

## 1c. Explore the tennis data

In [11]:
# Snap peek the first 8 rows from the data set.
tennis.head(8)

    outlook temperature humidity    wind playtennis
0     sunny         hot     high    weak         no
1     sunny         hot     high  strong         no
2  overcast         hot     high    weak        yes
3      rain        mild     high    weak        yes
4      rain        cool   normal    weak        yes
5      rain        cool   normal  strong         no
6  overcast        cool   normal  strong        yes
7     sunny        mild     high    weak         no

In [12]:
# Check the size of the data set.
tennis.shape

(14, 5)

The size of the dataset is not large. It contains 14 rows of data and 5 attributes.

In [13]:
# Check the tennis dataset's attributes information.
tennis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     object
 1   temperature  14 non-null     object
 2   humidity     14 non-null     object
 3   wind         14 non-null     object
 4   playtennis   14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [14]:
# Get the relevant summary statistics of the tennis data.
tennis.describe(include = 'all')

       outlook temperature humidity  wind playtennis
count       14          14       14    14         14
unique       3           3        2     2          2
top      sunny        mild     high  weak        yes
freq         5           6        7     8          9

# 2. Cleaning, transforming and visualizing
## 2a. Cleaning the data